body {
  background-image: url(background.jpg);
  background-size: cover;
}

.image {
  border: 5px solid green;
  border-radius: 10px;
  height: 400px;
}

.link-button {
  text-decoration: none;
  color: rgb(47, 59, 47);
  border: 1px solid rgb(36, 49, 36);
  background-color: #e7f7e6;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 3px green;
}
